.div1{
    margin: 10px;
    border: 1px solid rgb(141, 141, 141);
    padding: 20px;
}

.div1 h1{
    text-align: center;
    text-transform: uppercase;
    color: blueviolet;
}

.div1 p{
    text-indent: 50px;
    letter-spacing: 4px;
    text-align: justify;
    line-height: 25px;
}

.div1 p a{
    text-decoration: none;
    color: rgb(46, 154, 255);
    text-shadow: 2px 2px rgb(218, 218, 218);
}
.div2{
    font-family: 'Lora', serif;
}

.div2 h2{
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
}

.div2 p{
    font-variant: small-caps;
    font-size: 18px;
}